@model IEnumerable<LibraryWebApplication.Models.User>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="width:120px">
                @Html.DisplayNameFor(model => model.isBlocked)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isBlocked)
                </td>
                <td>
                    <a asp-action="ChangeBlockStatus" asp-route-id="@item.userID" class="btn btn-primary mr-2">@(item.isBlocked ? "Unblock" : "Block")</a> 
                    <a asp-action="Delete" asp-route-id="@item.userID" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>